body {
  background-color: #a0d2eb;
}
.thumbnail img {
  width: 100%;
}
.thumbnail {
  padding: 0;
}
.thumbnail .caption-full {
  padding: 9px;
}
#deleteForm {
  display: inline;
}
#base {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
